<!-------NAVBAR------->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home"><img class="grow" src="assets/images/logo.png"width="38px"height="38px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="studentchapters"routerLinkActive="active">Student Chapters</a>
                </li>
                <li class="nav-item one">
                    <a class="nav-link" routerLink="teams"routerLinkActive="active">Teams</a>
                </li>
                <li class="nav-item one">
                    <a class="nav-link" routerLink="rankings" routerLinkActive="active">Rankings</a>
                </li>
                <!-- <li class="nav-item one">
                    <a class="nav-link" routerLink="members"routerLinkActive="active">Members</a>
                </li>
                <li class="nav-item one">
                    <a class="nav-link" routerLink="login-page"routerLinkActive="active">login</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
