
        <footer>
            <div class="container-fluid padding">
                <div class="row d-flex text-center justify-content-center ">
                    <div class="col-md-12">
                     <h1 id="footer-heading">JOIN OUR COMMUNITIES!</h1>
                    </div>
                    <div class="col-md-3 socialresponsive">
                        <img class="grow" src="assets/img/logo.png" height="50" width="50">
                        
                        <h3>INCEPTION WAVE</h3>
                        <p>Ameliorating Work Culture</p>
                       
                               <ul class="social_icon ">
                                  <li> <a href="#"><i class="fab fa-facebook grow"></i></a></li>
                                  <li> <a href="#"><i class="fab fa-instagram grow"></i></a></li>
                                  <li> <a href="#"><i class="fab fa-linkedin grow"></i></a></li>
                                  <li> <a href="#"><i class="fa fa-globe grow"></i></a></li>
                               </ul>
                              
                        
                    </div>
                    <div class="col-md-3">
                        <p>Inception Wave took the initiative to bring like minded people together and provide the a common platform to help them learn from each other and grow as an individual. We started with 5 communities for Artists, Writers, Photographers etc. and now we have more than 5000+ people in 36 communities combined.</p>
                    </div>
                    <div class="col-md-3">
                       
                       <p>ENTREPRENEURSHIP<p>
                       <p>AUTOMOBILE INDUSTRY</p>
                       <p>FASHIONPRENEURS</p>
                       <p>DAILY MOTIVATION</p>
                       <p>ARTISTS</p>
                       <p>NEWS AND TRENDING</p>
                       <p>PHOTOGRAPHERS</p>
                    </div>
                    <div class="col-md-3">
                        <p>FITNESS</p>
                        <p>WRITERS</p>
                        <p>MOVIE/TV SERIES ENTHUSIASTS</p>
                        <p>WANDERLUST</p>
                        <p>SPACE AND EXPORATION</p>
                        <p>DEVELOPERS</p>
                    </div>
                    <div class="col-12">
                        <hr>
                        <p>For any query, suggestion or feedback, feel free to contact us using below details.</p>
                        <h2>wave.inception@gmail.com</h2>
                        <h5>Copyright ® INCEPTION WAVE 2021</h5>
                    </div>
                </div>
            </div>
        </footer>
