<section class="newScForm">
    <!-- <div class="row d-flex justify-content-center">
        <img src="assets/images/logo.png" class="logo"alt="logo"width="250"height="250">
    </div> -->
    <h2 class="text-center">New Student Chapter</h2>
    <div class="container">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="">
                <mat-hint>Jacob</mat-hint>
            </mat-form-field>
        </p>
    
        <p>
            <mat-form-field appearance="outline">
                <mat-label>College</mat-label>
                <input matInput placeholder="">
                <mat-hint>SRMIST</mat-hint>
            </mat-form-field>
        </p>
    
        <p>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="">
                <mat-hint>Chennai</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <input matInput placeholder="">
                <mat-hint>Tamil Nadu</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="">
                <mat-hint>myCollege@gmail.com</mat-hint>
            </mat-form-field>
        </p>
        <button type="button" class="btn btn-primary">Initiate</button>
    </div>
</section>