<div class="container-fluid padding outer-box">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap" rel="stylesheet">
<h1 class="title1">TEAM <span class="heading-bold"> R A N K I N G S</span></h1>
<h1 class="heading-bold2"> R A N K I N G S</h1>
    <div class="container flexbox">
        <div class="row d-flex justify-content-center">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="flexcard growless flexcardGreen">
            <div class="flexcardNumber flexcardNumberGreen">01</div>
            <div class="flex flexcardTitle">IWSC SRM</div>
            <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
                temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo? </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="flex flexcardImg "><img class=" flexcardimgItem"
                    src="assets/img/ranking.svg" alt="image"></div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-5">
                    <a href="https://inceptionwave.in/home" target="blank"><button type="button" class="read_more grow btn btn-primary btn-sm">Know More</button></a>
        </div>
    </div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="flexcard growless flexcardBlue">
            <div class="flexcardNumber flexcardNumberBlue">02</div>
            <div class="flex flexcardTitle">IWSC VIT</div>
            <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
                temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo?</div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="flex flexcardImg "><img class=" flexcardimgItem"
                    src="assets/img/ranking.svg" alt="image"></div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-5">
                    <a href="https://inceptionwave.in/home" target="blank"><button type="button" class="read_more grow btn btn-primary btn-sm">Know More</button></a>
        </div>
    </div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="flexcard growless flexcardOrange">
            <div class="flexcardNumber flexcardNumberOrange">03</div>
            <div class="flex flexcardTitle">IWSC DU</div>
            <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
                temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo?</div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="flex flexcardImg "><img class=" flexcardimgItem"
                    src="assets/img/ranking.svg" alt="image"></div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-5">
                    <a href="https://inceptionwave.in/home" target="blank"><button type="button" class="read_more grow btn btn-primary btn-sm">Know More</button></a>
        </div>
    </div>
 </div>
 </div>
 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <div class="flexcard growless flexcardPink">
            <div class="flexcardNumber flexcardNumberPink">04</div>
            <div class="flex flexcardTitle">IWSC IITM</div>
            <div class="flex flexcardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae,
                temporibus consectetur? Iure id nam fuga asperiores repellat accusantium exercitationem nemo?</div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="flex flexcardImg "><img class=" flexcardimgItem"
                    src="assets/img/ranking.svg" alt="image"></div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-3 col-xl-5">
                    <a href="https://inceptionwave.in/home" target="blank"><button type="button" class="read_more4 grow btn btn-primary btn-sm">Know More</button></a>
        </div>
    </div>
</div>
</div>
<hr style="color:aliceblue">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div id="chartContainer" style="height: 400px; width: 100%;"></div>
    </div>
</div>
</div>

<br><br><br>
<app-footer></app-footer>
