  <!-- events end --------------------------------------------------------------------->
  <div class="header">
    <div class="white_bg">
  <section class="container-fluid padding banner_main">
    <div id="banner1" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
       
         
             <div class="container-fluid">
                <div class="carousel-caption">
                   <div class="row">
                      <div class="col-md-12 col-lg-7">
                         <div class="text-bg">
                            <span>IWSC</span>
                            <h1>E V E N T S</h1>
                            <p>Lorem Ipsum lorem ipsum Inception Wave is an organisation that combines the entrepreneurial innovation driven mindset of an emerging and vibrant youth community  
                            </p>
                            <a href="https://inceptionwave.in/home" target="blank"><button type="button" class="read_more grow btn btn-primary btn-lg">Know More</button></a>
                         </div>
                      </div>
                      <div class="col-md-12 col-lg-5">
                         <div class="text_img">
                            <figure><img src="assets/img/ban_img.png" alt="#"/></figure>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
         
       </div>
       
    </div>
  </section>
  </div>
  </div>
  
  
  <!-- end banner -->