hr{
    font-weight: bold;
}
/* css animation */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
  

/* team strength ------------------------------------------- */
#title1{
    text-align: center;
    font-size: 3rem;
    font-family: Montserrat,Helvetica,sans-serif;
    font-weight: 600;
    color: rgba(240, 239, 239, 0.69);
    margin-top: 3%;
}
.heading1{
    padding:2%;
    background-color: rgba(0,0,0);
  }

.jumbotron{
    padding:4rem;
    border-radius: 1px;
    background-color: rgba(0, 0, 0); 
  }
  .value{
      
      font-size: 500%;
  }
  #ts .value{
      padding: 3%;
      width: 50px;
      background-color: rgb(253, 53, 93);
      border-radius: 30%;
  }
  .jumbotron h3{
      font-size: 200%;
      font-weight: bold;
      color: rgb(247, 245, 245);
      font-family: Montserrat,Helvetica,sans-serif;
      }


/* team structure ----------------------------------------- */
#title2{
    text-align: center;
    font-family: Montserrat,Helvetica,sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(0,0,0,.69);
    line-height: 35px;
    margin: 3% 0% 2% 0%;
}
.img-align-fix{
    text-align: center;
}
.card-footer {
    padding:2%;
}

.card img{
    width:auto;
    height:15rem;
    border-radius:50%;
    padding: 2%;
    background-color:rgb(0,0,0,.5);
    /* rgb(0, 123, 255,.5); */
}
.card-body .card-title {
    text-align: center;
    font-weight: bold;

}
.card-body p{
    text-align: center;
}
.card{
    padding:1%;
    width: 90%;
    height: auto;
    margin-left: 5%;
    background-color: rgba(254, 254, 254);
}
/* events start ------------------------------------------------------------ */

  .wave-container {
    position: relative;
    background: #000000;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    height: 100vh;
  }

  #title3{
    text-align: center;
    font-family: Montserrat,Helvetica,sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.69);
    line-height: 35px;
    margin: 3% 0% 2% 0%;
}
  #bottom-svg
  {
   position: absolute;;
   max-width: 100vw;
   
    left: 0;
    bottom: 0;
  }
 
/* events end -------------------------------------------------------- */

/* Medium (md) devices (tablets, 768px and up) */

@media (max-width: 768px) { 
  
    .card img{
        width:15rem;
        height:15rem;
        border-radius: 50%;
        background-color: rgb(0,0,0,.5);
        padding: 2%;
    }

    .card{
        padding:1%;
        width:90%;
        height: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }

    /* jumbotron team strength ------------------- */
    #title1{
        font-size: 280%;
        font-weight: 500;
        line-height: 30px;
    }

    .jumbotron h3{
        font-size: 150%;
        font-weight: 600;
        line-height: 30px;
        }
        
    .jumbotron{
        padding:3rem;
      }
      /* events  ----------*/
  
     
   }
   
   
   /* Extra small (xs) devices (portrait phones, less than 576px)
   
   Small (sm) devices (landscape phones, 576px and up) */
   
   @media (max-width: 576px) { 
    .card{
        padding:1%;
        width:90%;
        height: 90%;
        margin-left: 5%;
        margin-top: 10%;
    }

    /* jumbotron team strength---------------- */
    #title1{
        font-size: 250%;
        font-weight: 500;
        line-height: 35px;
        padding:0px;
        margin-bottom: 3px;
    }
    
    .heading1{
        padding:1%;
      }
    
    .jumbotron{
        padding:2rem;
        border-radius: 1px;
        background-color: rgba(0, 0, 0);
      }
      .value{
          font-size: 400%;
      }
      #ts .value{
          padding: 2%;
          background-color: rgb(253, 53, 93);
          border-radius: 30%;

      }
      .jumbotron h3{
          font-size: 150%;
          font-weight: 500;
          line-height: 35px;
          margin-bottom: 40px;
          }
      .load{
              text-align: center;
          }

/* team domains ------------ */
    
       #title2{
        font-size: 250%;
        font-weight: 500;
        line-height: 35px;
        }

        #title3{
            font-size: 250%;
            font-weight: 500;
            line-height: 35px;
            padding: 5%;
            }

   /* social media wave -----------*/
    
   
/** end banner section **/
   
     
   }

