/*-----SMALL SCREEN----------*/
@media only screen and (max-width: 900px){
    .intern{
      margin-bottom: 6%;
      margin-top: 4%;
    }
    .btn{
      width: 100%;
      background-color: #07a0de;
    }
    .btn.btn-primary:hover{
      transform: scale(1.05);
      transition: transform 0.4s;
    }
    .example-small-box, .example-large-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px;
        padding: 16px;
        border-radius: 50%;
        box-shadow: 0px 0px 9px 9px #a19b9bba;
      }    
      .example-large-box :hover{
        transform: scale(1.5);
        transition: transform 1s ease;
    }    
      .example-large-box {
        background-size: cover;
        height: 300px;
        width: 300px;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: #07a0de;
      }
      a{
        text-decoration: none;
        color: black;
        font-size: 280%;
        font-weight: 900;
      }   
      .dom1{
        background-image: url("src/assets/img/web dev.png");
      }
      .dom2{
        background-image: url("src/assets/img/hr.png");
      }
      .dom3{
        background-image: url("src/assets/img/web dev.png");
      }
      .dom4{
        background-image: url("src/assets/img/app dev.png");
      }


}

/*-----BIG SCREEN--------*/
@media only screen and (min-width: 901px){
   .intern{
      margin-bottom: 1%;
      position: relative;
    }
    .btn{
      position: absolute;
      top: 0%;
      left: 82%;
      z-index: 10;
      width: 18%;
      background-color: #07a0de;
    }
    .btn.btn-primary:hover{
      transform: scale(1.1);
      transition: transform 0.4s;
    }
    .example-small-box, .example-large-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px;
        padding: 16px;
        border-radius: 50%;
        box-shadow: 0px 0px 9px 9px #a19b9bba;
      }  
      .example-large-box :hover{
          transform: scale(1.5);
          transition: transform 1s ease;
      }    
      .example-large-box {
        background-size: cover;
        height: 300px;
        width: 300px;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: #07a0de;
      } 
      a{
        text-decoration: none;
        color: black;
        font-size: 280%;
        font-weight: 900;
      }  
      .dom1{
        background-image: url("src/assets/img/web dev.png");
      }
      .dom2{
        background-image: url("src/assets/img/hr.png");
      }
      .dom3{
        background-image: url("src/assets/img/web dev.png");
      }
      .dom4{
        background-image: url("src/assets/img/app dev.png");
      }

}

