<section class="intern">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Web Development">
      <div class="example-large-box mat-elevation-z4 dom1">
      </div>
    </mat-tab>
    <mat-tab label="HR & Marketing">
      <div class="example-large-box mat-elevation-z4 dom2">
      </div>
    </mat-tab>
    <mat-tab label="Graphic Design">
      <div class="example-large-box mat-elevation-z4 dom3">
      </div>
    </mat-tab>
    <mat-tab label="App Development">
      <div class="example-large-box mat-elevation-z4 dom4">
      </div>
    </mat-tab>
  </mat-tab-group>
  <button type="button" class="btn btn-primary">APPLY</button>
</section>