<!---SECTION 1: WALLPAPER & ABOUT US-->
<section class="home">
    <div class="logo">
        <img src="assets/images/logo.png" alt="IWSC" width="250" height="250">
    </div>
    <div class="textBox">
        Ameliorating Work
        <br>
        Culture
    </div>
    <div class="button d-flex justify-content-center text-center">
        <button type="button" class="btn btn-primary" routerLink="/login-page">Login</button>
    </div>
    <!--<div class="intro"></div>-->
</section>

<!-- SECTION 2: TESTIMONIAL
<section class="testimonial">
    <div class="container">
        <h1 class="text-center">WHAT OTHERS THINK ABOUT US!</h1>

    </div>
</section> -->
<!--SECTION 3: PROJECTS-->
<section class="projectSection">
    <div class="container">
        <h1 class="text-center">PROJECTS</h1>
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center">
                <div class="projects">
                    <img src="assets/images/prjoject1.png" width="92%" height="58%" class="image">
                    <div class="overlay">
                        <div class="text">Grapido</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 d-flex justify-content-center">
                <div class="projects">
                    <img src="assets/images/project2.png" width="92%" height="58%" class="image">
                    <div class="overlay">
                        <div class="text">SRM-Pedia</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 d-flex justify-content-center">
                <div class="projects">
                    <img src="assets/images/logo.png" width="92%" height="58%" class="image">
                    <div class="overlay">
                        <div class="text">SwiftCare</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!---SECTION 4: MAP VIEW-->
<section class="mapView">
    <div class="container mapCont">
        <h1 class="text-center">OUR STUDENT CHAPTERS</h1>
        <div class="scMap d-flex justify-content-center">
            <figure class="mapImg">
                <img src="assets/images/Map Pop.gif"alt="studentchapters map view"class="mapGif">
            </figure>
        </div>
    </div>
</section>

<!-- APPLY FOR INTERNSHIP-->
<section  class="internSec">
    <div class="container">
        <h1 class="text-center">INTERNSHIP DOMAINS</h1>
        <app-internship></app-internship>
    </div>
</section>

<!--GRAPIDO SECTION---->
<section class="grapidoSection">
    <div class="container">
        <h1 class="text-center">WHAT IS GRAPIDO</h1>
        <div class="grapidoSec">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <img src="assets/images/prjoject1.png"class="grapidoImg"alt="Grapido">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <article class="heading">
                    {{grapDes}}
                </article>  
            </div>
        </div>
        </div>
    </div>
</section> 

<app-footer></app-footer>