/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #fff;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #07a0de;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #bebebe;
}


/* scrollbar end  */

